/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    min-height: 100%;
    margin: 0 auto -3em;
    height: auto;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    position: relative;
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.push-header {
    height: 3em;
}

.header-container {
    border-bottom: 3px ridge #aab233;
    position: fixed;
    min-height: 4em;
    height: auto;
    width: 100%;
    z-index: 2;
    top: 0;
}

.footer-container,
.main aside {
    border-top: 3px ridge #aab233;
}

.header-container,
.footer-container,
.main aside {
    background: #21022c;
}

.title {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: #063140;
}

/* ==============
    MOBILE: Menu
   ============== */

nav {
    display: none;
    background: #21022c;
    position: relative;
    width: 100%;
    z-index: 2;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #aab233;
}

nav a:hover, nav a.selected:hover {
    text-decoration: underline;
    background: #3284a0;
}

nav a.selected {
    background: #8433a2;
}

.nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 10px;
    margin-top: 1em;
    margin-right: 1em;
    background-color: transparent;
    border: 1px solid #340644;
    border-radius: 4px;
}

.nav-toggle:hover {
    background-color: #340644;
}

.icon-bar {
    background-color: #fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.icon-bar + .icon-bar {
    margin-top: 4px;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.push-footer {
    height: 3em;
}

.footer-container {
    height: 3em;
}

.footer-container footer {
    color: white;
}

.copy {
    color: #fff;
    font-weight: normal;
    display: inline-block;
    margin: 0.75em 0 0;
}

.social-icons {
    float: right;
    display: inline-block;
    margin-top: 0.5em;
}

.social-icons img {
    width: 32px;
    height: 32px;
}

.social-icons img:hover {
    -webkit-box-shadow: 0 0 4px 2px #aab233;
       -moz-box-shadow: 0 0 4px 2px #aab233;
            box-shadow: 0 0 4px 2px #aab233;
}

.content-tab {
    display: none;
    position: absolute;
    width: 100%;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#contact ul li {
    list-style-type: none;
    margin-bottom: 0.5em;
}

#contact ul li img {
    margin-right: 0.5em;
}

#resume h1 .dl {
    float: right;
}

#resume h1 .dl img {
    margin-left: 0.25em;
}

#resume h1 .dl a {
    color: #063140;
    text-decoration: none;
}

#resume h1 .dl a:hover {
    text-decoration: underline;
}

#resume h2 {
    border-bottom: 3px solid #063140;
    font-size: 1.7em;
}

#resume h3 {
    border-bottom: 2px dotted #063140;
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#resume .date {
    float: right;
}

#resume ul {
    margin-top: 0;
}

#resume ul li {
    border-bottom: 1px dashed gray;
    list-style-type: none;
    line-height: 1.5em;
    margin-bottom: 0.2em;
}

#resume ul li:last-child {
    border-bottom: 0;
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav {
        /* !important is flagged here due to jQuery leaving nav stuck in "display: none" when switching from a smaller screen to a larger screen after using the menu. A bit of an edge case, but portfolio to landscape on some devices might catch it. */
        display: block !important;
    }

    nav a {
        float: left;
        margin: 0 0.1em;
        padding: 10px 5px;
        margin-bottom: 0;
        margin-top: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    .nav-toggle {
        display: none;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }

/* ====================
    WIDE: Fixed Header
   ==================== */

    .push-header {
        height: 7.2em;
    }

    .header-container {
        height: 7.2em;
    }
}

@media only screen and (min-width: 768px) {

    .push-header {
        height: 4.5em;
    }

    .header-container {
        height: 4.5em;
    }

    .main-container {
        min-height: 100%;
        margin: 0 auto -3em;
        height: auto;
    }

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 50%;
    }

    nav a {
        margin-top: 1.6em;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}