.app {
  position: absolute;
  max-width: 45em;
  width: 75%;
  top: 50%;
  left: 55%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.mainTitle {
  font-size: 300%;
  margin: 0;
}

.subTitle {
  position: relative;
  text-align: left;
  margin: 0 0 0.25em;
}

ul.social {
  list-style-type: none;
  position: absolute;
  height: 100%;
  right: 100%;
  margin: 0 1em;
  border-right: 0.15em solid white;
  padding: 0 0.5em 0;
  text-align: right;
}

ul.social li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  height: 14.23%;
  float: right;
  clear: both;
}

ul.social li a {
  transition: color 0.5s;
  text-decoration: none;
  color: #fff;
}

ul.social li a:hover {
  color: #ff9d00;
}

ul.social li a span {
  transition: max-width 0.5s;
  display: inline-block;
  margin-left: 0.25em;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
}

ul.social li a:hover span {
  max-width: 100%;
}

p.summary {
  float: left;
  margin: 0.25em 0 0;
  padding: 0.25em 0 0;
  border-top: 0.15em solid white;
  transform-origin: left center;
  line-height: 1.35em;
  word-spacing: 0.05em;
}

