.app {
  position: absolute;
  width: 18em;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.mainTitle {
  font-size: 300%;
  margin: 0;
}

.subTitle {
  position: relative;
  text-align: left;
  margin: 0 0 0.25em;
}

ul.social {
  list-style-type: none;
  position: absolute;
  height: 100%;
  left: -3em;
  margin: 0 auto;
  border-right: 0.15em solid white;
  padding: 0 0.5em 0;
}

ul.social li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
}

ul.social li a {
  color: #fff;
}

p.summary {
  float: left;
  margin: 0.25em 0 0;
  padding: 0.25em 0 0;
  border-top: 0.15em solid white;
  width: 200%;
  transform-origin: left center;
}

